:root {
  --margin-left: 10.3125rem;
  --margin-top: 8.125rem;
}

html {
  margin: auto auto;
  max-width: 90rem;
  max-height: 56.25rem;
}

body {
  background: url(../assets/logo.svg) no-repeat var(--margin-left) 6.375rem,
    url(../assets/bg-pattern-dots.svg) no-repeat right bottom 5.3125rem,
    url(../assets/desktop-image-host.jpg) no-repeat right var(--margin-top),
    var(--primary-dark);
}

.content-container {
  margin: 16.3125rem 34.5rem var(--margin-top) var(--margin-left);
  padding-top: 5.5rem;
}

.content-container h1 {
  font-size: 3.25rem;
  line-height: 3.875rem;
}

#main-content {
  font-size: 1.125rem;
  line-height: 1.75rem;
  min-width: 27.8125rem;

  margin: 1.5rem 51.875rem 2.5rem 0;
}

input {
  min-width: 7.5rem;
}

.logo-container {
  margin: 2.8125rem 11.6875rem 0 0;
  height: 1.8125rem;
}
